<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="constr" connectionString="server=cdb-5l7d95wv.gz.tencentcdb.com;port=10039;user id=cutelad;password=980814;database=BookShopManageSystem;Charset=utf8;SslMode=none;"/>
  </connectionStrings>
</configuration>